<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<!-- <ion-item style="margin-top: 3%; width: 100%;" lines="none" (click)='toggle()'>
  <ion-img slot="start" style="max-width:50%;" [src]="IMAGES_URL + tip.image"></ion-img>
  <ion-label   slot="end" item-end position="stacked" > 
    <ion-icon style="color: var(--ion-color-primary) !important" [name]="dropdownIcon"></ion-icon>
    {{ tip.title }}
  </ion-label>
</ion-item>
<ion-item lines="none">
  <div slot="start" class="post_content" [hidden]="!toggled">
    <ion-img [src]="IMAGES_URL + tip.image"></ion-img>
    <span [innerHTML]="tip.content"></span>
  </div>
</ion-item>
-->
<ion-row (click)='toggle()'>
  <ion-col sizeLg="4" sizeMd="4" sizeXs="4" style=" display: flex;
  justify-content: left;
  align-items: center;">
    <ion-img style="object-fit: cover; height: 80px; width: 100%;" [src]="IMAGES_URL + tip.image"></ion-img>    
  </ion-col>
  <ion-col sizeLg="8" sizeMd="8" sizeXs="8" style=" display: flex;
  justify-content: center;
  align-items: center;">
    <ion-label>
      {{ tip.title }}
      <ion-icon style="color: var(--ion-color-primary) !important" [ios]="dropdownIcon" [md]="dropdownIcon"></ion-icon>
    </ion-label>
  </ion-col>
</ion-row>
<ion-row [hidden]="!toggled" class="post_content" (click)='toggle()'>
  <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
  justify-content: center;
  align-items: center;">
    <ion-img [src]="IMAGES_URL + tip.image"></ion-img>
  </ion-col>
  <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: justify;
  text-justify: inter-word;">
    <span [innerHTML]="tip.content"></span>
  </ion-col>
</ion-row>
