<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<app-header [title]="[this.title]" [retButton]="true" ></app-header>

<ion-content fullscreen="true">
  <div class="centered_container_with_header">
    <ion-label> Cuenta creada el: </ion-label>
    <ion-datetime readonly displayFormat="DDDD, DD de MMMM del YYYY" [(ngModel)]="userCreationDate"
    monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
    dayNames="domingo, lunes, martes, miércoles, jueves, viernes, sábado"
    ></ion-datetime>
    <ion-list>
      <ion-item>
          <ion-label position="stacked"> Nombre: </ion-label>
          <ion-input class="text" clearOnEdit="false"  [(ngModel)]="userNewName"></ion-input>
      </ion-item>
      <ion-item>

          <ion-label position="stacked"> Correo: </ion-label>
          <ion-input class="text" clearOnEdit="false"  [(ngModel)]="userNewEmail"></ion-input>

      </ion-item>
      <ion-item lines="none">
        <ion-list lines="none" style="width:100% !important;">
          <ion-item style="padding-right:0; padding-left:0;">  
            <ion-label position="stacked"> Nueva contraseña: </ion-label>
            <ion-input class="text" type="password" clearOnEdit="true" placeholder="cambia, si quieres, tu contraseña" [(ngModel)]="userNewPassword"></ion-input>          
          </ion-item>
          <ion-item style="padding-right:0; padding-left:0;">  
            <ion-label position="stacked"> Confirma contraseña: </ion-label>
            <ion-input class="text" type="password" clearOnEdit="true" placeholder="cambia, si quieres, tu contraseña" [(ngModel)]="userNewPasswordConf"></ion-input>            
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>  
          <ion-label> Contraseña actual: </ion-label>
          <ion-input class="text" [type]="passwordType" clearOnEdit="false" [(ngModel)]="userPasswordMods"></ion-input>
          <ion-icon  [ios]="passwordIcon" [md]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>      
    </ion-list>
    <ion-button class="default_buttom" expand="full" (click)="save()">
      Guardar nuevos datos
    </ion-button>
    <ion-button class="default_buttom" expand="full" (click)="logout()">
      Salir de tu cuenta
    </ion-button>
  </div>
</ion-content>
