<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          Elije el pictograma que quieres introducir en el apoyo visual
        </ion-label>
      </ion-col>
    </ion-row>
    <app-choose-picto-sections [allPictos]="allPictos" (selectedPicto)="onSelectedPicto($event)"></app-choose-picto-sections>
  </ion-grid>
</ion-content>
<ion-toolbar>
  <ion-button slot="end" [disabled]="selectedPicto.id === 0" (click)="choose()"> Elige este </ion-button>
  <ion-button slot="end" (click)="cancel()"> cancelar </ion-button>
</ion-toolbar>
