<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <ion-grid *ngIf="step > 0">
  <ion-row *ngIf="step === 1 || step === 3"  class="picto-section" (click)="newPicto()">
    <ion-col sizeLg="4" sizeMd="4" sizeXs="4" style=" display: flex;
    justify-content: center;
    align-items: center;">
      <ion-icon class="day-section-icon" ios="add-circle" md="add-circle" style="font-size: 48px;" ></ion-icon>
    </ion-col>
    <ion-col sizeLg="8" sizeMd="8" sizeXs="8" style=" display: flex;
    justify-content: left;
    align-items: center;">
      <ion-row >      
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
        justify-content: left;
        align-items: center;">
          <ion-label> Nuevo Paso </ion-label>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-img src='../../../assets/blank-background.jpg'></ion-img>
        </ion-col>
      </ion-row>
    </ion-col>     
  </ion-row>
  <div *ngIf="seqPictos !== undefined || seqPictos.length > 0">
    <ion-row *ngFor="let picto of seqPictos; let i = index">
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3" style=" display: flex;
      justify-content: center;
      align-items: center;">
        <ion-col style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-label style="font-size: 48px;"> {{ i+1 }} </ion-label>
        </ion-col>
        <ion-col *ngIf="step === 1 || step === 3" style=" display: flex;
        justify-content: left;
        align-items: center;">
          <ion-list>
            <ion-item *ngIf="i !== 0" lines="none">
              <ion-button (click)="reorder(-1, i)"><ion-icon ios="arrow-up" md="arrow-up"></ion-icon></ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-button (click)="edit(i)"><ion-icon ios="pencil" md="pencil"></ion-icon></ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-button (click)="remove(i)"><ion-icon ios="close" md="close"></ion-icon></ion-button>
            </ion-item>
            <ion-item *ngIf="i < seqPictos.length -1" lines="none">
              <ion-button (click)="reorder(1, i)"><ion-icon ios="arrow-down" md="arrow-down"></ion-icon></ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-col>
      <ion-col sizeLg="9" sizeMd="9" sizeXs="9">
        <ion-row >      
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: left;
          align-items: center;">
            {{ picto.description }}
          </ion-col>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: right;
          align-items: center;">
            <ion-img *ngIf="picto" [src]="myApi.BASE_URL + picto.image"></ion-img>
            <ion-img *ngIf="!picto" src='../../../assets/gradient-background.jpg'></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="seqPictos === undefined || seqPictos.length === 0">
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" style=" display: flex;
      justify-content: center;
      align-items: center;">
        <ion-icon ios="eye-off" md="eye-off" style="font-size: 48px;">  </ion-icon>
      </ion-col>
      <ion-col sizeLg="8" sizeMd="8" sizeXs="8" style=" display: flex;
      justify-content: left;
      align-items: center;">
        <ion-row >      
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: left;
          align-items: center;">
            <ion-row>
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
              justify-content: left;
              align-items: center;">
                <ion-label> Este apoyo visual no tiene ningún paso configurado </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: center;
          align-items: center;">
            <ion-img src='../../../assets/gradient-background.jpg'></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
