<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <ion-header no-border>
  <ion-title *ngIf="new && editable" size="large" class="ion-text-center"> Creación de nuevo apoyo visual  </ion-title>
  <ion-title *ngIf="!new && editable" size="large" class="ion-text-center"> Moficación de apoyo visual existente </ion-title>
  <ion-title *ngIf="!editable" size="large" class="ion-text-center"> Vista de apoyo visual </ion-title>

</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label> Título: </ion-label>
        <ion-input *ngIf="seqData" [readonly]="step != 3 && step != 0" class="text" clearOnEdit="false"  [(ngModel)]="seqData.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Descripción: </ion-label>
        <ion-input *ngIf="seqData" [readonly]="step != 3 && step != 0" class="text" clearOnEdit="false"  [(ngModel)]="seqData.description"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label *ngIf="step === 1 || step === 3" slot="start" > Configura los pasos que tendría </ion-label>
        <ion-label *ngIf="step === 2 || step === 4" slot="start" > Pasos y pictogramas </ion-label>
      </ion-item> 
    </ion-list>
    <app-pictogram-section *ngIf="seqData" [allPictos]="allPictograms" [seqPictos]="seqData.pictograms" [step]="step" (updatedPicto)="onUpdatedPicto($event)"></app-pictogram-section>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="step === 0">
    <ion-button *ngIf="step === 0" slot="end" (click)="next()"> siguiente </ion-button>
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 1">
    <ion-button slot="end" (click)="save()"> guardar </ion-button>
    <ion-button slot="end" (click)="back()"> atrás </ion-button>
    <ion-button slot="end" (click)="cancel()"> cancelar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 2">
    <ion-button *ngIf="editable === true" slot="end" (click)="edit()"> editar </ion-button>
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 3">
    <ion-button slot="end" (click)="delete()"> borrar </ion-button>
    <ion-button slot="end" (click)="save()"> guardar </ion-button>
    <ion-button slot="end" (click)="cancel()"> cancelar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 4">
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
</ion-footer>
