<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-grid >
  <ion-row *ngFor="let year of yearsToShow">
    <ion-col  class='normal-year' sizeLg="12" sizeMd="12" sizeXs="12" [ngClass]="{'current-year' : isCurrentYear(year), 'old-year' : isOldYear(year)}">
      <ion-label> {{ year }}</ion-label>
    </ion-col>
    <ion-col *ngFor="let month of monthsToShow[year]" sizeLg="12" sizeMd="12" sizeXs="12" (click)="onToggleMonth(month, year)">
      <ion-label [ngClass]="{'current-month' : isCurrentMonth(year, month), 'old-month' : isOldMonth(year, month)}"> {{ month }}</ion-label>
      <ion-icon [ngClass]="{'current-month' : isCurrentMonth(year, month), 'old-month' : isOldMonth(year, month)}" [ios]="dropdownIcon[year][month]" [md]="dropdownIcon[year][month]"></ion-icon>
      <div *ngIf="dropdownIcon[year][month] === 'caret-down'">
        <ion-row *ngFor="let event of myList | keyvalue" (click)="onSelect(myList, event.key)">
          <ion-col *ngIf="evalRendezVous(year, month, myList, event.key)" [ngClass]="{'current-day' : isCurrentDay(event.value.year, event.value.month, event.value.day), 'old-month' : isOldDay(event.value.year, event.value.month, event.value.day)}">
            <div *ngIf="event.value.dayData.length === 1">
              <ion-img src="assets/icon/diente.png" class="my_icon" slot="start"></ion-img> el {{event.value.day}} del {{event.value.month}} del {{event.value.year}}, tienes una cita
            </div>
            <div *ngIf="event.value.dayData.length > 1">
              <ion-img src="assets/icon/diente.png" class="my_icon" slot="start"></ion-img> el {{event.value.day}} del {{event.value.month}} del {{event.value.year}} tienes CITAS
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

