<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-row class="rendezvous-section">
  <ion-col sizeLg="4" sizeMd="4" sizeXs="4" style=" display: flex;
  justify-content: center;
  align-items: center;">
    <ion-icon *ngIf="mode === 'edition'" ios="pencil" md="pencil" style="font-size: 48px;"></ion-icon>
    <ion-icon *ngIf="mode === 'view'" ios="eye" md="eye" style="font-size: 48px;"></ion-icon>
  </ion-col>
  <ion-col sizeLg="8" sizeMd="8" sizeXs="8" style=" display: flex;
  justify-content: left;
  align-items: center;">
    <ion-row >      
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
      justify-content: left;
      align-items: center;">
        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
          justify-content: left;
          align-items: center;">
            <ion-datetime readonly displayFormat="HH:mm" [(ngModel)]='time'></ion-datetime>
          </ion-col>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
          justify-content: left;
          align-items: center;">
            <ion-label> {{ title }} </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
      justify-content: center;
      align-items: center;">
        <ion-img src='../../../assets/gradient-background.jpg'></ion-img>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>