<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header no-border>

  
  <ion-toolbar>
    <ion-menu-button slot="start">
    </ion-menu-button>

    <!-- <ion-img *ngIf="isMenu" src="../../../assets/images/aut-logo-01-200x.png" alt="Tumisma"></ion-img> -->
    <ion-title *ngIf="isMenu" size="large" > DentalTEA </ion-title>
    <ion-title *ngIf="!isMenu" size="large" > {{ title }} </ion-title>
       
    <ion-back-button *ngIf="retButton" text="Volver" icon="arrow-left" slot="end"
    defaultHref="/main">
    </ion-back-button>

  </ion-toolbar>
</ion-header>
