/* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of Dentaltea
 *  
 *  Detnaltea is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  Dentaltea is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-header {
    border-bottom: 1px solid var(--ion-color-primary) !important;
    ion-toolbar {
        ion-title {
            color: var(--ion-color-primary) !important;
            font-weight: 700;
            margin: auto;
        }
        ion-img {
            margin: auto;
        }
        @media (max-width: 460px) {
            ion-img {
                width: 120px;
            }
            ion-title {
                font-size: 14px;
            }
        }
        @media (max-width: 760px) {
            ion-img {
                width: 200px;
            }
            ion-title {
                font-size: 18px;
            }
        }
        @media (min-width: 760px) {
            ion-img {
                width: 280px;
            }
            ion-title {
                font-size: 22px;
            }
        }
    }
}


