<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<app-header title="Citas" [retButton]="true" [isMenu]="false" ></app-header>

 <ion-content [fullscreen]="true">
  <ion-radio-group [(ngModel)]="calendarView">
   <ion-grid >
      <ion-row justify-content-end>
        <ion-col size="6" sizeMd="6" sizeXs="6" style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-label id="calendar-button" (click)="setCalendarView('calendar')" style="margin-right: 5px;"><ion-icon md="calendar" ios="calendar" class="my_calendar_icon"></ion-icon></ion-label>
          <ion-radio value="calendar" (ionSelect)="setCalendarView('calendar')"> </ion-radio>
        </ion-col>
        <ion-col size="6" sizeMd="6" sizeXs="6" style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-label id="list-button" (click)="setCalendarView('list')" style="margin-right: 5px;"><ion-img class="my_icon" src="assets/icon/lista.png"></ion-img></ion-label>
          <ion-radio value="list" (ionSelect)="setCalendarView('list')"></ion-radio>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-radio-group>
  <ion-calendar *ngIf="optionsMulti.daysConfig !== undefined && calendarView == 'calendar'" [(ngModel)]="date"
    [options]="optionsMulti"
    (change)="onChange($event)"
    (select)="onSelect($event)"
    [type]="type"
    [format]="'YYYY-MM-DD'" >
  </ion-calendar>
  <app-rendezvous-list *ngIf="calendarView == 'list'" [rdvzList]="daysList"></app-rendezvous-list>
   <ion-label *ngIf="optionsMulti.daysConfig === undefined">Cargando...</ion-label>
</ion-content>
