<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
  <ion-toolbar>
    <ion-title><ion-datetime readonly displayFormat="DDDD, DD de MMMM del YYYY" [(ngModel)]='dateStr'
      month-names="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
      day-names="Citas del domingo, Citas del lunes, Citas del martes, Citas del miércoles,
      Citas del jueves, Citas del viernes, Citas del sábado"
      ></ion-datetime>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid> <!-- create new rendez vous -->
    <ion-row *ngIf="mode === 'edition'"  id="calendar-day-section" (click)='newRendezVous()'>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" style=" display: flex;
      justify-content: center;
      align-items: center;">
        <ion-icon class="day-section-icon" ios="add-circle" md="add-circle"></ion-icon>
      </ion-col>
      <ion-col sizeLg="8" sizeMd="8" sizeXs="8" style=" display: flex;
      justify-content: left;
      align-items: center;">
        <ion-row >      
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: left;
          align-items: center;">
            <ion-label> Nueva Cita </ion-label>
          </ion-col>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: center;
          align-items: center;">
            <ion-img src='../../../assets/blank-background.jpg'></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>     
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf='dayData !== undefined'> <!-- rendez vous here -->
    <app-rendezvous-day-section  *ngFor="let myDay of dayData" [dayData]='myDay' (click)='editRendezVous(myDay)' ></app-rendezvous-day-section>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
</ion-footer>