<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <div *ngIf="allSequences !== undefined">
 <ion-row *ngFor="let sequence of allSequences; let i = index" class='sequence-section' [ngClass]="{'sequence-section-selected' : mySequence.id === sequence.id}" (click)="select(sequence)">
  <ion-col style="text-align: center;">
    <ion-label class='sequence-title'>{{ sequence.title }}</ion-label>
  </ion-col>
  <ion-row>
    <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
      <ion-row>
        <ion-col>
          <ion-label> {{ sequence.description }} </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let picto of sequence.pictograms" sizeLg="4" sizeMd="4" sizeXs="6" style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
            justify-content: left;
            align-items: center;">
              <ion-img [src]="myApi.BASE_URL + picto.image"></ion-img>
            </ion-col>
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
            justify-content: left;
            align-items: center;">
              <ion-label>{{ picto.description }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    
  </ion-row>
</ion-row>
</div>