<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-icon slot="start" ios="star" md="star"></ion-icon>
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
        <ion-list-header>Secciones</ion-list-header>

        <div id="sections_menu">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;">
          <ion-item class="menu_item" back-img="../assets/gradient-background.jpg" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
            <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
            <ion-label text-wrap text-center>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </div>
          
          <!--</ion-menu-toggle>-->
          <div id="system_menu">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of systemPages">
            <ion-item class="menu_item" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start"  [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label >{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
