<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-content [fullscreen]="true">
  
  <div class="centered_container">
    <ion-img style="margin: auto; max-width: 400px; margin-top: 20px;" src="../../../assets/images/logo_white.png"></ion-img>
    <div class="login-rectangle">
    <h1 class="title_without_menubar">Regístrate</h1>  
    <ion-item>	 
      <ion-input class="text" type="text" placeholder="Nombre" [(ngModel)]="name"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-input class="text" type="text" placeholder="Correo electrónico" [(ngModel)]="email"></ion-input>
    </ion-item>
   
    <ion-item>	 
      <ion-input class="text" [type]="passwordType" clearOnEdit="false" placeholder="Contraseña" [(ngModel)]="pass"></ion-input>
      <ion-icon  slot="end" ios="passwordIcon" md="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    
    <ion-button class="default_button" expand="full" (click)="register()">
      Envíar <ion-icon ios="arrow-forward" md="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button class="default_button" expand="full" routerLink="/login" routerDirection="backward">
      ¡Si ya tengo cuenta!
    </ion-button>
  </div>
  </div>
</ion-content>
  