<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-datetime readonly displayFormat="DDDD, DD de MMMM del YYYY" [(ngModel)]='eventDate'
      month-names="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
      day-names="domingo, lunes, martes, miércoles, jueves, viernes, sábado"></ion-datetime>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label> Título: </ion-label>
        <ion-input [readonly]="step != 3 && step != 0" class="text" clearOnEdit="false"  [(ngModel)]="dayData.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Hora: </ion-label>
        <ion-datetime [readonly]="step != 3 && step != 0" displayFormat="HH:mm" [(ngModel)]="eventDate"></ion-datetime>
      </ion-item>
      <ion-item> 
        <ion-label *ngIf="step === 1 || step === 3" slot="start" > Configura los pasos de la cita </ion-label>
        <ion-label *ngIf="step === 2 || step === 4" slot="start" > Pasos de la cita </ion-label>
      </ion-item> 
    </ion-list>
    <app-rendezvous-day-sequence-section [allSequences]="allSequences" [rdvzSequences]="rdvzSequences" [step]="step" (updatedSeq)="onUpdatedSeq($event)"></app-rendezvous-day-sequence-section>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="step === 0">
    <ion-button *ngIf="step === 0" slot="end" (click)="next()"> siguiente </ion-button>
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 1">
    <ion-button slot="end" (click)="save()"> guardar </ion-button>
    <ion-button slot="end" (click)="back()"> atrás </ion-button>
    <ion-button slot="end" (click)="cancel()"> cancelar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 2">
    <ion-button slot="end" (click)="edit()"> editar </ion-button>
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 3">
    <ion-button slot="end" (click)="delete()"> borrar </ion-button>
    <ion-button slot="end" (click)="save()"> guardar </ion-button>
    <ion-button slot="end" (click)="cancel()"> cancelar </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="step === 4">
    <ion-button slot="end" (click)="dismiss()"> cerrar </ion-button>
  </ion-toolbar>
</ion-footer>