/* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of Dentaltea
 *  
 *  Detnaltea is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  Dentaltea is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 */
 #calendar-day-section {
      background: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--ion-color-light-contrast);
  }
  #calendar-day-section:hover {
      background: var(--ion-color-light-shade);
      color: var(--ion-color-light-contrast);
      border-bottom: 1px solid var(--ion-color-light-contrast);
      margin-top: 5px;
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
  }
ion-input {
      text-align: right;
      font-weight: 700;
}