<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img style="width:50%; margin:auto;" src="../../../assets/images/auto-logo-01-200x.png" alt="appAutismo"></ion-img>
    <strong>por Autismo Córdoba</strong>
    <p>y <a target="_blank" rel="noopener noreferrer" href="https://blog.pixelada.org">Pixelada</a></p>
  </div>
</ion-content>
