<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<app-header title="Portada" [retButton]="false" [isMenu]="true" ></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <ion-img src="../../../assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style="text-align:center;">
        <ion-label> Herramienta para familias y profesionales para favorecer la participación de las personas con TEA en el ámbito dental. </ion-label>
      </ion-col>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style="text-align:center;" routerDirection="root" routerLink="/about-app">
        <ion-label> Puedes ver más información sobre la app aquí. </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center"style="margin-top: 5%;">
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
          <ion-item routerDirection="root" routerLink="/tips">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
                  <ion-icon style="font-size: 64px; color: var(--ion-color-primary);" ios="chatbubble" md="chatbubble-outline" position="stacked"></ion-icon>
                </ion-col>
                <ion-col sizeLg="8" sizeMd="8" sizeXs="8">
                  <div style="color: var(--ion-color-primary);">
                    <p style="font-weight: 700;">Consejos para familias y profesionales.</p>
                    <p>¿Cómo podemos ayudar a las personas con TEA ante una visita al dentista?</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
          <ion-item  routerDirection="root" routerLink="/calendar">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
                  <ion-icon style="font-size: 64px; color: var(--ion-color-primary);" ios="today" md="today" position="stacked"></ion-icon>
                </ion-col>
                <ion-col sizeLg="8" sizeMd="8" sizeXs="8">
                  <div style="color: var(--ion-color-primary);">
                    <p style="font-weight: 700;">Gestión de citas.</p>
                    <p>¿Cuándo tengo la próxima visita?</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
          <ion-item routerDirection="root" routerLink="/steps">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
                  <ion-icon style="font-size: 64px; color: var(--ion-color-primary);" ios="film" md="film" position="stacked"></ion-icon>
                </ion-col>
                <ion-col sizeLg="8" sizeMd="8" sizeXs="8">
                  <div style="color: var(--ion-color-primary);">
                    <p style="font-weight: 700;">Apoyos visuales para anticipar las pruebas médicas.</p>
                    <p>¿Qué me van hacer?</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
