/* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of Dentaltea
 *  
 *  Detnaltea is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  Dentaltea is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-content {
    margin-top: 20px;
    ion-img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    ion-label {
        color: var(--ion-color-primary);
        font-weight: 700;
    }
    #button {
        height: 100%;
        justify-content: center; 
    }
}
ion-content {
    ion-row {
        ion-thumbnail ion-img,
        ion-thumbnail img {
            width: auto !important;
        }
    }
    .posts {
        margin-top:5%;
        ion-label {
            color: var(--ion-color-primary) !important;
        }
    }
}
