<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <div *ngIf="allPictos !== undefined">
  <ion-row *ngFor="let picto of allPictos; let i = index" class='picto-section' [ngClass]="{'picto-section-selected' : myPicto.id === picto.id}" (click)="select(picto)">
    <ion-col sizeLg="4" sizeMd="4" sizeXs="12" style=" display: flex;
    justify-content: center;
    align-items: center;">
      <ion-label class='picto-title'>{{ picto.description }}</ion-label>
    </ion-col>
    <ion-col sizeLg="8" sizeMd="8" sizeXs="12" style=" display: flex;
    justify-content: center;
    align-items: center;">
      <ion-img [src]="myApi.BASE_URL + picto.image"></ion-img>
    </ion-col>
  </ion-row>
 </div>