<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

<app-header title="Apoyos visuales" [retButton]="true" [isMenu]="false" ></app-header>

<ion-content [fullscreen]="true">
  <app-seqs-list-and-creator [allSequences]="allSequences" (removeSeqRet)="onRemoveSeq($event)" (editSeqRet)="onEditSeq($event)" (newSeqRet)="onNewSeq($event)" (viewSeqRet)="onViewSeq($event)" ></app-seqs-list-and-creator> 
</ion-content>
