<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->

 <app-header [title]="[this.title]" [retButton]="true" ></app-header>

 <ion-content fullscreen="true">
  <div class="centered_container_with_header">
    <p> Esta herramienta nace de la necesidad de apoyar a las personas con TEA en el cuidado bucodental, favoreciendo la prevención de problemas más graves que puedan necesitar una intervención quirúrgica. Conocer  las necesidades particulares de la persona con TEA para poder apoyarla y favorecer que las experiencias sean lo más satisfactorias posibles, requiere del trabajo conjunto entre familias y profesionales para favorecer la habituación y desensibilización a las diferentes pruebas y/o situaciones que se realicen en la clínica, así como al espacio y material usado. </p>

    <p> Recomendamos la lectura Guía para la participación de las personas con TEA: Claves para la salud bucodental. Elaborada por la terapeuta ocupacional del equipo de profesionales de Autismo Córdoba, Alicia Heras Ruiz. Disponible en material descargable en 
      <a href="#" onclick="window.open('https://www.autismocordoba.org',
     '_system', 'location=yes'); return false;"> www.autismocordoba.org</a> </p>
    
    <p> El proyecto fue seleccionado en la convocatoria Tic Tac Tea de la Fundación Orange. </p>
    <p> DentalTEA es software libre bajo licencia GPLv3+, su código lo puedes encontrar en: <a href="#" onclick="window.open('https://bitbucket.org/pixelada/appautismocordoba',
      '_system', 'location=yes'); return false;"> https://bitbucket.org/pixelada/appautismocordoba</a></p>
  </div>
</ion-content>
