/* 
 *  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
 *  
 *  This file is part of Dentaltea
 *  
 *  Detnaltea is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  Dentaltea is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* font to autismocordoba's Montserrat! */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    src: url('assets/fonts/montserrat/Montserrat-Italic.ttf');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    src: url('assets/fonts/montserrat/Montserrat-BoldItalic.ttf');
  }

  /* default button class*/
.default-buttom {
    background-color: #3baae4; 
}
/* when we want centered content, as in login and registers forms
for being centered in tablets */
.centered_container {
    text-align: center;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 600px;
  }
  /* when we want centered content, as in login and registers forms
for being centered in tablets */
.centered_container_with_header {
  text-align: center;

  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 600px;
}
/* calendar view*/
ion-calendar {
  .eventDay {
      border: 1px solid !important;
      border-color: var(--ion-color-primary) !important;
  }
  .eventDay:disabled {
    border: 1px solid !important;
  }
  .today.eventDay {
    border: 2px solid !important;
    border-color: var(--ion-color-primary) !important;
  }
  
}

.sequences-modal-class .modal-wrapper {
  height: 100% !important;
  width: 100% !important;
}