<!-- 
  Copyright 2020 Pixelada s. Coop. And. <info (at) pixelada (dot) org>
  
  This file is part of Dentaltea
  
  Detnaltea is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Dentaltea is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Dentaltea.  If not, see <https://www.gnu.org/licenses/>.
 -->
 <ion-grid fixed>
  <ion-row class="rendezvous-section" (click)="newSeq()">
    <ion-col sizeLg="4" sizeMd="4" sizeXs="4" style=" display: flex;
    justify-content: center;
    align-items: center;">
      <ion-icon class="day-section-icon" ios="add-circle" md="add-circle" style="font-size: 48px;" ></ion-icon>
    </ion-col>
    <ion-col sizeLg="8" sizeMd="8" sizeXs="8" style=" display: flex;
    justify-content: left;
    align-items: center;">
      <ion-row >      
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
        justify-content: left;
        align-items: center;">
          <ion-label> Crear un nuevo apoyo visual </ion-label>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-img src='../../../assets/blank-background.jpg'></ion-img>
        </ion-col>
      </ion-row>
    </ion-col>     
  </ion-row>
  <div *ngIf="allSequences">
    <ion-row *ngFor="let sequence of allSequences; let i = index">
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3" style=" display: flex;
      justify-content: center;
      align-items: center;">
        <ion-col style=" display: flex;
        justify-content: center;
        align-items: center;">
          <ion-label style="font-size: 48px;"> {{ i+1 }} </ion-label>
        </ion-col>
        <ion-col style=" display: flex;
        justify-content: left;
        align-items: center;">
          <ion-list>
            <ion-item lines="none" *ngIf="sequence.author_id === userId">
              <ion-button  (click)="editSeq(i)"><ion-icon ios="pencil" md="pencil"></ion-icon></ion-button>
            </ion-item>
            <ion-item lines="none" *ngIf="sequence.author_id === userId">
              <ion-button  (click)="removeSeq(i)"><ion-icon ios="close" md="close"></ion-icon></ion-button>
            </ion-item>
            <ion-item lines="none" *ngIf="sequence.author_id !== userId">
              <ion-button  (click)="onlyViewSeq(i)"><ion-icon ios="eye" md="eye"></ion-icon></ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-col>
      <ion-col sizeLg="9" sizeMd="9" sizeXs="9">
        <ion-row >      
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: left;
          align-items: center;">
            <ion-list>
              <ion-item>
                <p class="seq-title"> {{ sequence.title }} </p>
              </ion-item>
              <ion-item lines="none">
                {{ sequence.description }}
              </ion-item>
            </ion-list>
            <!--
            <ion-row>

              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
              justify-content: left;
              align-items: center;">
                <ion-label> {{ sequence.title }} </ion-label>
              </ion-col>
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style=" display: flex;
              justify-content: left;
              align-items: center;">
                <ion-label> {{ sequence.description }} </ion-label>
              </ion-col>
            </ion-row>
          -->
          </ion-col>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style=" display: flex;
          justify-content: right;
          align-items: right;">
            <ion-img *ngIf="sequence.pictograms && sequence.pictograms.length > 0" [src]="myApi.BASE_URL + sequence.pictograms[0].image"></ion-img>
            <ion-img *ngIf="!sequence.pictograms || sequence.pictograms.length === 0" src='../../../assets/gradient-background.jpg'></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>